.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col > img {
  height: 30px;
}

#priceHeader{
  font-size: 3.5rem;
}

#priceSubheader{
  font-size: 1.25rem;
}

.card-header{
  font-size: 1.5rem;
}

.card-price {
  font-size: 2.75rem;
  font-weight:500;
}

.card-price-mo{
  font-size: 2rem;
  font-weight: 300;
}

.card-price-btn{
  font-size: 1.25rem;
}

li{
  list-style-type: none;
  margin: 10px 0;
}

.listHeader{
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}